<div class="navbar-test flex">
  <div class="flex navbar-home">
  <%= link_to image_tag('logo.png', alt: "Cocktail", width: 50), cocktails_path %>
  <%= link_to "Home", cocktails_path, class: "home-link" %>
  </div>
  <div class="flex navbar-add">
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn-black" %>
  </div>
</div>
